name: Trigger auto deployment for hungarian-holidays-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/hungarian-holidays-api-AutoDeployTrigger-5467b132-6db4-4579-96b5-0f49588a3032.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.HUNGARIANHOLIDAYSAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.HUNGARIANHOLIDAYSAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.HUNGARIANHOLIDAYSAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.HUNGARIANHOLIDAYSAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.HUNGARIANHOLIDAYSAPI_REGISTRY_PASSWORD }}
          containerAppName: hungarian-holidays-api
          resourceGroup: OncallSchedulerApp
          imageToBuild: ghcr.io/hungarian-holidays-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


